@model DemoDB2.Models.AdminUser

@{
    ViewBag.Title = "FormLogin";
    Layout =null;
}

<style>
    .field-calidation-error {
        color: red;
    }
</style>


@{
    using (Html.BeginForm("LoginAccount", "LoginUser"))
    {
        @Html.AntiForgeryToken()
        <table style="width:300px">
            <tr>
                <td>@Html.LabelFor(model => model.ID)</td>
                <td>@Html.TextBoxFor(model => model.ID, new { style = "field-validation-error" })</td>
                <td>@Html.ValidationMessageFor(model => model.ID)</td>
            </tr>

            <tr>
                <td>@Html.LabelFor(model => model.PasswordUser)</td>
                <td>@Html.EditorFor(model => model.PasswordUser)</td>
                <td>@Html.ValidationMessageFor(model => model.PasswordUser)</td>
                @if (ViewBag.ErrorInfo != null)
                {
                    <p>@ViewBag.ErrorInfo</p>
                }
            </tr>

            <tr>
                <td> </td>
                <td><input type="submit" value="Login"></td>
            </tr>
        </table>
    }
}

